@import "reseter";
@import "general";
@import "heroSlider";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1280px;
}
.nav-item a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;

  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}
.nav-item-black a {
  color: #000;
}

.navbar {
  transition: background-color 0.5s ease-in-out;

  &-position {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 9999;
  }

  &-brand {
    color: $main-color !important;
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    span {
      color: $sub-color;
    }
  }
}

.collapsing {
  // transition: 0.2s all ease-in-out;
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.show {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.collapsing .nav-item a,
.show .nav-item a {
  color: #000;
}
.bg-light {
  box-shadow: 1px 3px 8px #888888;
}
.custom-toggler.navbar-toggler {
  border-color: $main-color;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#31b6e9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@mixin card-deck-column-count($count: 1) {
  flex: 0 0 calc(100% / #{$count} - 30px);
}

.card-deck {
  .card {
    @media (min-width: 576px) {
      @include card-deck-column-count(1);
    }

    @media (min-width: 768px) {
      @include card-deck-column-count(2);
    }

    @media (min-width: 992px) {
      @include card-deck-column-count(2);
    }

    @media (min-width: 1200px) {
      @include card-deck-column-count(4);
    }
  }

  .card--modify {
    @media (min-width: 576px) {
      @include card-deck-column-count(1);
    }

    @media (min-width: 768px) {
      @include card-deck-column-count(1);
    }

    @media (min-width: 992px) {
      @include card-deck-column-count(3);
    }

    @media (min-width: 1200px) {
      @include card-deck-column-count(3);
    }
  }
}

.card {
  border: none;
  background: none;
  position: relative;
  top: -70px;

  &--modify {
    position: relative;
    margin-top: 30px;
    top: 0;
    &::after {
      position: absolute;
      content: "";
      height: 550px;
      width: 2px;
      right: 0;
      top: 20px;
      border-left: 1px solid rgb(199, 198, 198);
    }
    &:last-child {
      &::after {
        border: none;
      }
    }

    .card-title {
      text-align: center;
      font-size: 1.5em;
      &:hover {
        a {
          text-decoration: none;
          color: $main-color;
        }
      }
    }

    .card-text {
      text-align: left;
      margin: 0 20px 0 0;
      height: 150px;
    }
    .card-distance {
      height: 330px;
    }
    .card-img-center {
      display: block;
      margin: 10px auto 0px auto;
    }
    .card-content-section {
      position: relative;
    }
    .card-read {
      padding: 20px 30px;
      background: darken($main-color, 20%);
      color: #fff;
      // position: absolute;
      // left: 180px;
      // bottom: 0px;
      margin-right: 30px;
      display: block;
      text-align: center;
      transition: 0.2s all ease-in-out;
      &:hover {
        transform: scale(1.1);
        text-decoration: none;
        background: $main-color;
        transition: 0.2s all ease-in-out;
      }
    }
  }
  &-img-position {
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    height: 50px;
  }

  p {
    text-align: center;
  }
}

.bar {
  background-color: darken($main-color, 20%);
  box-shadow: 1px 1px 10px #888888, -1px -1px 10px #888888;
  &-title {
    font-size: 2em;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}
.dlaczego-my {
  background-color: #e8e8e8;
}
.dlaczego {
  //border-bottom: 1px solid grey;
  margin-bottom: 60px;
  position: relative;
  height: 85px;

  &:last-child {
    border: none;
    margin-bottom: 0;
  }

  &-bar-l {
    &::before {
      content: "";
      height: 80px;
      position: absolute;
      top: 55px;
      z-index: 0;
      right: 20px;
      border-right: 2px dotted grey;
      @media (max-width: 991px) {
        display: none;
      }
    }

    &::after {
      content: "";
      height: 90px;
      position: absolute;
      top: 200px;
      z-index: 0;
      right: 20px;
      border-right: 2px dotted grey;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &-bar-p {
    &::before {
      content: "";
      height: 80px;
      position: absolute;
      top: 55px;
      z-index: 0;
      left: 20px;
      border-right: 2px dotted grey;
      @media (max-width: 991px) {
        display: none;
      }
    }

    &::after {
      content: "";
      height: 80px;
      position: absolute;
      top: 200px;
      z-index: 0;
      left: 20px;
      border-right: 2px dotted grey;
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &-l-title,
  &-l-content {
    text-align: right;
    margin-right: 40px;
    @media (max-width: 991px) {
      text-align: center;
      margin-right: 0px;
    }
  }

  &-p-title,
  &-p-content {
    text-align: left;
    margin-left: 40px;
    @media (max-width: 991px) {
      text-align: center;
      margin-left: 0px;
    }
  }

  &-l-img {
    width: 100%;
    @media (max-width: 991px) {
      display: block;
      width: 70%;
      margin: 50px auto;
    }
  }

  &-l-title,
  &-p-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    @media (max-width: 991px) {
      margin-top: 100px;
    }
  }

  &-l-ico {
    position: absolute;
    top: 0px;
    right: -20px;
    font-size: 3em !important;
    z-index: 1;
    text-align: center;
    width: 48px;
    @media (max-width: 991px) {
      font-size: 5em !important;
      left: -50px;
      top: -100px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &:nth-child(2) {
    .dlaczego-l-ico,
    .dlaczego-p-ico {
      color: darken($main-color, 20%);
    }
  }
  &-p-ico {
    position: absolute;
    top: 0px;
    left: -20px;
    font-size: 3em !important;
    z-index: 1;
    text-align: center;
    width: 48px;
    @media (max-width: 991px) {
      font-size: 5em !important;
      position: absolute;
      right: 0px;
      top: -100px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
